/*////////////////////MOBILE FIRST////////////////////*/
.footer-text{

  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
color: #292929;
  width:233px;
}
.footer-logo{
  width:233px;
  color: #00B068;
}
@media (min-width: 768px){
 .footer-text{
   height: 32px;
   min-width: 233px;
 }
}
/*////////////////////MOBILE FIRST////////////////////*/
.footer-media-links{
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 32px;
  padding-bottom: 40px;

}
.footer-media-item{
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color:#292929;
}
.footer-line{
  margin-top:40px;
}
@media (min-width: 768px){
 .footer-media-links{
flex-direction: row;
   gap:40px
 }
  .footer-line{
    margin-top:40px;
  }

}
@media (min-width: 1280px) {

  .footer-line{
    display: flex;
    margin-top:40px;
    text-align: center;
    align-items: center;
  }
  .footer-media-links{
    margin-left: auto;
  }
}
/*////////////////////MOBILE FIRST////////////////////*/
.footer-text-under-links{
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #292929;
  margin-top: 40px;
}
@media (min-width: 768px) {
  .footer-text-under-links{
  text-align: end;
  }
}