.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #292929;
}

.header-logo-style {
  color: #00b068;
}

.header-wrap {
  display: flex;
  align-items: center;
  gap: 6px;
}

.darkmode-toggle {
  height: 24px;
}
.darkmode-toggle-label {
  position: relative;
  display: block;
  width: 48px;
  height: 24px;
  border-radius: 16px;
  background: #e4e5e6;
  cursor: pointer;
  top: -18px;
  transition: 0.3s;
}

.darkmode-toggle-label::after {
  content: '';
  width: 18px;
  height: 18px;
  position: absolute;
  top: 3px;
  left: 2px;
  background: #00b068;
  border-radius: 180px;
  transition: 0.3s;
}

.darkmode-toggle-input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.darkmode-toggle-input:checked + .darkmode-toggle-label {
  background: #292929;
}

.darkmode-toggle-input:checked + .darkmode-toggle-label::after {
  left: 28px;
}

.nav-menu-list {
  display: none;
}

.header-link {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #292929;
}

@media screen and (max-width: 767px) {
  .main-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .open-mobile-menu-btn {
    border: none;
    padding: 0;
    line-height: 0;
  }
}

@media screen and (min-width: 768px) {
  .main-header {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .open-mobile-menu-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-logo {
    font-size: 32px;
  }

  .header-wrap {
    gap: 24px;
  }

  .nav-menu-list {
    display: flex;
    column-gap: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .header-wrap {
    gap: 40px;
  }
}
