@import 'izitoast/dist/css/iziToast.min.css';
@import 'swiper/css';

section {
  padding: 40px 0;
}

.reviews-title {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  color: light-dark(#292929, #f0f0f0);
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 296px;
  border-radius: 16px;
  padding: 32px;
  background-color: light-dark(#e4e5e6, #2a2d32);
}
.swiper-description {
  font-family: 'Poppins', sans-serif;
  width: 256px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  overflow: auto;
  margin-bottom: 24px;
  color: light-dark(#292929, #f0f0f0);
}
.swiper-user-info {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.swiper-user-img {
  border-radius: 50%;
  background-color: #bcdfd1;
}
.swiper-user-name {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: light-dark(#292929, #f0f0f0);
}
.swiper-buttons {
  display: flex;
  justify-content: flex-end;
  column-gap: 16px;
  margin-top: 24px;
}
.swiper-button-prev,
.swiper-button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid light-dark(#2a2d32, #e4e5e6);
  fill: none;
  stroke: light-dark(#292929, #f0f0f0);
  border-radius: 8px;
  background-color: transparent;
  transition: background-color 250ms linear, border-color 250ms linear;
}

.swiper-button-prev {
  transform: rotate(-180deg);
}

.swiper-button-prev:hover:not(:disabled),
.swiper-button-next:hover:not(:disabled) {
  border-color: light-dark(#292929, #1e2023);
  background-color: light-dark(#e4e5e6, #2a2d32);
}

.swiper-button-prev:disabled,
.swiper-button-next:disabled {
  stroke: light-dark(#e4e5e6, #2a2d32);
  border-color: light-dark(#e4e5e6, #2a2d32);
  cursor: not-allowed;
}

.review-not-found {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  text-align: center;
  color: #a5a5a5;
}

.is-hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
  section {
    padding: 62px 0;
  }
  .reviews-title {
    font-size: 108px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    margin-bottom: 60px;
  }
  .swiper-slide {
    height: 224px;
  }
  .swiper-description {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1248px;
  }
  section {
    padding: 82px 0;
  }
  .reviews-title {
    margin-bottom: 80px;
  }
}
