<footer class="section">
  <div class="container">
 <div class="footer-line">
   <a href="" class="footer-text">Lloyd<span class="footer-logo">Jefferson.</span></a>
   <ul class="footer-media-links">
     <li class="footer-media-item"><a href="https://www.instagram.com/goitclub/">Instagram</a></li>
     <li class="footer-media-item"><a href="https://www.facebook.com/goITclub/">Facebook</a></li>
     <li class="footer-media-item"><a href="https://www.linkedin.com/school/goit-start-your-career-in-it">Linkedin</a></li>
     <li class="footer-media-item"><a href="https://github.com/Vladyslav-Avrashov/project_js_1">GitHub</a></li>
   </ul>
 </div>
    <p class="footer-text-under-links">© Copyright 2024. Made by LloydJefferson</p>
  </div>
</footer>
