<header class="main-header">
  <div class="container">
    <a class="header-logo" href="#"
      >lloyd<span class="header-logo-style">jefferson.</span>
    </a>

    <div class="header-darkmode-wrap">
      <div class="darkmode-toggle">
        <input
          class="darkmode-toggle-input"
          type="checkbox"
          id="darkmode-toggle"
          aria-label="Toggle dark mode"
        />
        <label class="darkmode-toggle-label" for="darkmode-toggle"></label>
      </div>

      <nav class="header-nav">
        <ul class="nav-menu-list">
          <li class="nav-menu-item">
            <a class="header-link" href="#about-me">About me</a>
          </li>
          <li class="nav-menu-item">
            <a class="header-link" href="#projects">Projects</a>
          </li>
          <li class="nav-menu-item">
            <a class="header-link" href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>

      <button
        class="open-mobile-menu-btn"
        type="button"
        aria-label="Open mobile menu"
      >
        <svg class="open-mobile-menu-icon" width="32" height="32">
          <use href="./img/icons.svg#menu-icon"></use>
        </svg>
      </button>
    </div>
  </div>
</header>

<!--   Modal-box   -->

<div class="modal-box">
  <div class="container">
    <div class="header-menu-wraper">
      <a class="header-logo" href="#"
        >lloyd<span class="header-logo-style">jefferson.</span>
      </a>
      <button
        class="close-mobile-menu-btn"
        type="button"
        aria-label="Close mobile menu"
      >
        <svg class="close-mobile-menu-icon" width="32" height="32">
          <use href="./img/icons.svg#close-icon"></use>
        </svg>
      </button>
    </div>

    <div class="mobile-menu">
      <nav class="mobile-menu-nav">
        <ul class="mobile-menu-nav-list">
          <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-item-link" href="#about-me">About me</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-item-link" href="#projects">Projects</a>
          </li>
          <li class="mobile-menu-nav-item">
            <a class="mobile-menu-nav-item-link" href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
