<header class="main-header">
  <div class="container">
    <a class="header-logo" href="#"
      >lloyd<span class="header-logo-style">jefferson.</span>
    </a>

    <div class="header-wrap">
      <div class="darkmode-toggle">
        <input
          class="darkmode-toggle-input"
          type="checkbox"
          id="darkmode-toggle"
        />
        <label class="darkmode-toggle-label" for="darkmode-toggle"> </label>
      </div>

      <nav class="header-nav">
        <ul class="nav-menu-list">
          <li class="nav-menu-item">
            <a class="header-link header-link-aline" href="./index.html"
              >About me</a
            >
          </li>
          <li class="nav-menu-item">
            <a class="header-link" href="#portfolio">Projects</a>
          </li>
          <li class="nav-menu-item">
            <a class="header-link" href="#footer">Contacts</a>
          </li>
        </ul>
      </nav>

      <button class="open-mobile-menu-btn js-menu-btn" type="button">
        <svg class="open-mobile-menu-icon" width="32" height="32">
          <use href="../img/icons.svg#menu-icon"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
