
<section class="section" id="hero">
  <div class="container hero">

    <h1 class="hero-name"><span class="hero-name-after">Hello, I am </span><span class="hero-name-under">Fullstack developer</span></h1>
    <div class="hero-button-text">
     <div class="hero-scroll-focus">
       <a href="#contacts" class="hero-scroll">
         <svg width="28" height="28" class="icon">
           <use href="./img/icons.svg#icon-Arrow"></use>
         </svg>
         Order the project</a>
     </div>
      <p class="hero-text">

        I work with people all over the world to create <span class="in-hero-text">impressive</span>
        and
        <span class="in-hero-text">functional websites</span>
        that reflect each client’s unique personality.
      </p>
    </div>
  </div>
    <ul class="hero-social-media-links">
      <li class="hero-media-item"><a href="https://www.instagram.com/goitclub/">Instagram</a></li>
      <li class="hero-media-item"><a href="https://www.facebook.com/goITclub/">Facebook</a></li>
      <li class="hero-media-item"><a href="https://www.linkedin.com/school/goit-start-your-career-in-it">Linkedin</a></li>
      <li class="hero-media-item"><a href="https://github.com/Vladyslav-Avrashov/project_js_1">GitHub</a></li>
    </ul>

</section>
