<section class="my-projects js-my-projects container">
  <h1>my <span>projects</span></h1>
  <ul class="project-cards-list">
    <li class="project-card">
      <picture>
        <source
          srcset="
            ../img/projectimages/manage-finances@1x.jpg 1x,
            ../img/projectimages/manage-finances@2x.jpg 2x
          "
        />
        <img
          class="my-project-picture"
          src="./img/projectimages/manage-finances@2x.jpg 2x"
          alt="Manage Finances Project"
          loading="lazy"
        />
      </picture>
      <p class="technologies-list">React, JavaScript, Node JS, Git</p>

      <h3 class="project-description">Wallet webservice</h3>
      <div class="link-container">
        <a class="visit-link" href="#"
          >visit
          <svg class="visit-arrow">
            <use href="../img/icons.svg/#visit-arrow"></use>
          </svg>
        </a>
      </div>
    </li>
    <li class="project-card">
      <picture>
        <source
          srcset="
            ../img/projectimages/organic-vegetables@1x.jpg 1x,
            ../img/projectimages/organic-vegetables@2x.jpg 2x
          "
        />
        <img
          class="my-project-picture"
          src="./img/projectimages/organic-vegetables@2x.jpg 2x"
          alt="Manage Finances Project"
          loading="lazy"
        />
      </picture>
      <p class="technologies-list">React, JavaScript, Node JS, Git</p>
      <h3 class="project-description">Green harvest webservice</h3>
      <div class="link-container">
        <a class="visit-link" href="#"
          >visit
          <svg class="visit-arrow">
            <use href="./img/icons.svg/#visit-arrow"></use>
          </svg>
        </a>
      </div>
    </li>
    <li class="project-card">
      <picture>
        <source
          srcset="
            ../img/projectimages/discover@1x.jpg 1x,
            ../img/projectimages/discover@2x.jpg 2x
          "
        />
        <img
          class="my-project-picture"
          src="./img/projectimages/discover@2x.jpg 2x"
          alt="Manage Finances Project"
          loading="lazy"
        />
      </picture>
      <p class="technologies-list">React, JavaScript, Node JS, Git</p>
      <h3 class="project-description">English Exellence website</h3>
      <div class="link-container">
        <a class="visit-link" href="#"
          >visit
          <svg class="visit-arrow">
            <use href="./img/icons.svg/#visit-arrow"></use>
          </svg>
        </a>
      </div>
    </li>
  </ul>
  <button class="load-more-btn js-load-more-btn" type="button">
    Load more
  </button>
</section>
