<section class="section">
    <h2 class="skills_title visually-hidden">Teach Skills</h2>
    <div class="marquee">
        <div class="marquee__inner">
          <p class="marquee__line">
            <span>HTML/CSS</span>   
            <span>JAVASCRIPT</span>   
            <span>REACT</span>   
            <span>NODE.JS</span>   
            <span>REACT NATIVE</span>   
            <span>TYPESCRIPT</span>   
            <span>HTML/CSS</span>   
            <span>JAVASCRIPT</span>   
            <span>REACT</span>   
            <span>NODE.JS</span>   
            <span>REACT NATIVE</span>   
            <span>TYPESCRIPT</span>
          </p>
          <p class="marquee__line">
            <span>HTML/CSS</span>  
            <span>JAVASCRIPT</span> 
            <span>REACT</span>   
            <span>NODE.JS</span>   
            <span>REACT NATIVE</span>   
            <span>TYPESCRIPT</span>   
            <span>HTML/CSS</span>   
            <span>JAVASCRIPT</span>   
            <span>REACT</span>   
            <span>NODE.JS</span>   
            <span>REACT NATIVE</span>   
            <span>TYPESCRIPT</span>
          </p>
        </div>
    </div>
    <div class="marquee second">
        <div class="marquee__inner second">
          <p class="marquee__line second">  
            <span>JAVASCRIPT</span>   
            <span>REACT</span>   
            <span>NODE.JS</span>   
            <span>REACT NATIVE</span>   
            <span>TYPESCRIPT</span>   
            <span>HTML/CSS</span>   
            <span>JAVASCRIPT</span>   
            <span>REACT</span>   
            <span>NODE.JS</span>   
            <span>REACT NATIVE</span>   
            <span>TYPESCRIPT</span>
            <span>HTML/CSS</span> 
          </p>
          <p class="marquee__line second">
            <span>JAVASCRIPT</span> 
            <span>REACT</span>   
            <span>NODE.JS</span>   
            <span>REACT NATIVE</span>   
            <span>TYPESCRIPT</span>   
            <span>HTML/CSS</span>   
            <span>JAVASCRIPT</span>   
            <span>REACT</span>   
            <span>NODE.JS</span>   
            <span>REACT NATIVE</span>   
            <span>TYPESCRIPT</span>
            <span>HTML/CSS</span>  
          </p>
        </div>
    </div>
</section>


  
