<div class="section section_background">
    <div class="container">
        <h2 class="contacts_title">Let's <span class="contacts_title contacts_title_span">work together</span></h2>
        <div class="contacts_content">
            <div class="content_info">
                <p class="info_text">Contact me to transform your ideas into exceptional solutions.</p>
                <ul class="info_contacts">
                    <li class="info_contact">
                        <svg class="info_contact_icon" aria-label="Phone">
                            <use href="../img/icons.svg#phone-icon"></use>
                        </svg>
                        <a class="info_contact_link" href="tel:+380904567890">+38 090 456 78 90</a>
                    </li>
                    <li class="info_contact">
                        <svg class="info_contact_icon" aria-label="Email">
                            <use href="../img/icons.svg#email-icon"></use>
                        </svg>
                        <a class="info_contact_link" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
                    </li>
                    <li class="info_contact">
                        <svg class="info_contact_icon" aria-label="Geo">
                            <use href="../img/icons.svg#geolocation-icon"></use>
                        </svg>
                        <a class="info_contact_link" href="https://www.google.com/maps?q=40.7128,-74.0060">USA, New York</a>
                    </li>
                </ul>
            </div>
            <div class="content_form">
                <form class="form">
                    <div class="input">
                        <input class="form_input" type="email" placeholder="Your email*">
                        <svg class="form_input_icon" aria-label="Success" width="16px" higth="16px">
                            <use href="../img/icons.svg#success-icon"></use>
                        </svg>
                    </div>
                    <textarea class="form_textarea" id="" placeholder="Message"></textarea>
                    <button class="form_btn">Send message</button>
                </form>
            </div>
        </div>
    </div>
</div>

